###### .gitignore for prod ######

# src/*
# public/*
# build/static/css/*.map
# build/static/js/*.map

#################################

###### .gitignore for dev ######

build/*

#################################

node_modules/